ion-toolbar{
    height: 20vw;
    --background: #0F0F0F;
    
    // ion-back-button{
    //     display: block;
    //     color: #FFFFFF;
    //     margin: 4vw 0vw 0vw 5vw;
    // }

    ion-button{
        margin: 6vw -8vw 0vw 7vw;
    }

    ion-icon{
        margin: 0vh 4vw 0vw 0vw;
        width: 10vw;
        height: 11px;
    }

    .campana{
        height: 20px;
        margin-top: 18px;
    }

    ion-title{
        font-family: 'Aeonik-Regular';
        text-align: center;
        --color: #FFFFFF;
        margin: 5vw 0vw 0vw 0vw;
    }

    h2{
        color: #BB993C;
        margin: 0vw 8vw 0vw 0vw;
        font-size: 3.5vw;
        font-family: 'Aeonik-Regular';
    }
}

ion-avatar{
    width: 125px;
    height: 125px;
    margin:0 auto;
    margin-bottom: 10px;
    margin-top: 2vw;

    
}

h1{
    margin: 6px 0px -10px 0px;
    font-size: 5vw;    
    text-align: center;
}

h2{
    text-align: center;
    font-size: 3vw;
}

ion-content{
    background-size: cover;
    background-position-x: 50%;
    background: #0F0F0F;

    .form-wrapper{
        background: #343337;
        width: 85vw;
        height: 152px;
        margin: 7vw 7vw 0vw 7vw;
        border-radius: 15px 15px 15px 15px;

        ion-item{
            color: white;
            --background: #343337;
            padding: 0px 10px 0px 0px;
            border-bottom: 1px solid black;
            --color-activated: white;
            --border-radius: 8px 8px 8px 8px;
            

            ion-label{
                font-size: 12px;
                margin-left: 10px;
            }

            ion-icon{
                color: #E3BC3A;
                font-size: 18px;
            }

            .datos{
                text-align: right;
                color: #ABB0C1;
                margin: 0vw 0vw 0vw 0vw;
            }
        }
    }

    .form-buttons{
        background: #343337;
        width: 85vw;
        height: 100px;
        margin: 3vw 7vw 0vw 7vw;
        border-radius: 15px 15px 15px 15px;

        ion-item{
            color: white;
            --background: #343337;
            padding: 0px 9px 1px 0px;
            border-bottom: 1px solid black;
            --color-activated: white;
            --border-radius: 15px 15px 15px 15px;
            ion-label{
                font-size: 12px;
                margin-left: 10px;
            }

            ion-icon{
                color: #E3BC3A;
                font-size: 18px;
            }

            .arrow{
                font-size: 12px;
            }
        }
    }
} 